//! Colors
$color-primary: #29a19c;
$color-primary-light: #a3f7bf;
$color-back: #222831;
$color-back-light: #393e46;

$color-black: #000000;

//! Font
$font-primary: "Nunito Sans", Arial, sans-serif;
$font-text: "Source Sans Pro", sans-serif;
$default-font-size: 1.6rem;

//! Layout
$grid-width: 114rem;
