*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //* This defines that 1rem === 10px
}

body {
    box-sizing: border-box;
}

div {
    display: block;
}
