@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap");

body {
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.7;
    color: $color-black;
}

//! Headings

.info {
    margin-right: 10rem;

    &-title {
        font-size: 2.8rem;
        font-weight: 200;
        line-height: 1.3;

        span {
            color: $color-primary;
            font-size: 5.4rem;
            font-weight: 800;
            text-transform: uppercase;
            display: block;
        }
    }

    &-date {
        font-size: 2rem;
        line-height: 1.5;
        font-weight: 300;
        color: rgba($color-black, 0.8);

        &--icon {
            color: $color-primary;
        }
    }

    .time {
        font-size: 4rem;
        font-weight: 500;
        color: $color-primary;

        span {
            font-size: 1.2rem;
            display: block;
            text-transform: uppercase;
            color: $color-black;
        }
    }
}

.form {
    h2 {
        font-size: 3.2rem;
        font-weight: 400;
        color: $color-primary;
    }

    &-control {
        font-size: $default-font-size;
    }
}

.copyright {
    font-size: $default-font-size;
    color: #ffffff;
}
