.header {
    height: 85vh;
    position: relative;

    .box {
        max-width: $grid-width;
        margin: 0 auto;
        padding: 6rem;
        @include center;
        background-color: #f4f4f4;
        border-radius: 1rem;
        box-shadow: 6px 6px 11px 0px rgba(214, 214, 214, 1);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info {
        & > *:not(:last-child) {
            margin-bottom: 2.4rem;
        }

        &-timer {
            width: 80%;

            display: grid;
            grid-template-columns: repeat(4, 1fr);

            & > :not(:first-child) {
                border-left: 1px solid rgba($color-black, 0.5);
                padding-left: 1rem !important;
                margin-left: 1rem !important;
            }
        }
    }

    .form-box {
        border-radius: 0.5rem;
        background-color: #fff;
        box-shadow: 6px 6px 11px 0px rgba(214, 214, 214, 1);

        p {
            width: 100%;
            padding: 0 3rem;
            text-align: center;
            margin-bottom: 3rem;
            font-size: $default-font-size;
            font-weight: 300;

            span {
                font-size: 2rem;
                font-weight: 600;
                color: $color-primary;
                padding: 1rem;
            }
        }

        .form {
            padding: 3rem 3rem 0 3rem;

            h2 {
                margin-bottom: 0.8rem;
            }

            &-group {
                position: relative;
                width: 100%;
                display: block;
                margin-bottom: $default-font-size;

                label {
                    display: inline-block;
                    margin-bottom: 0.5rem;
                    font-size: $default-font-size;

                    input {
                        margin-right: 0.5rem;
                    }
                }
            }

            &-control {
                border: transparent;
                border-bottom: 1px solid rgba($color-black, 0.5);
                background-color: transparent;
                font-size: $default-font-size;
                padding: 1rem 0;
                outline: 0;
                height: 5.2rem;
                box-shadow: none;
                transition: 0.2s;
                width: 100%;

                &::placeholder {
                    color: rgba($color-black, 0.5);
                }

                &:focus {
                    border-bottom: 1px solid $color-primary;
                }
            }
        }
    }
}

.footer {
    height: 15vh;
    background-color: $color-primary;
    position: relative;

    .container {
        @include center;
    }
}
